<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset" ng-controller="clientsController">
    <div class="row">
        <div class="col-md-12">
            <h1 class="well lead tituloHome">Clientes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <form id="buscarCliente" novalidate="novalidate" ng-submit="searchClient()">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" ng-model="filter" name="search" id="search" placeholder="Digite o nome, razão social ou acrônimo do cliente." required="required" disable-validation-message="">
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" form="buscarCliente">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" style="margin: 14px;" type="{{alert.type}}">{{alert.msg}}</alert>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-condensed" ng-show="hasResults == true">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Razão Social</th>
                            <th>Sigla</th>
                            <th>Ativo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in paged.clients">
                            <td>{{item.Name}}</td>
                            <td>{{item.SocialReazon}}</td>
                            <td>{{item.Acronym}}</td>
                            <td>{{item.Active ? 'Sim' : 'Não'}}</td>
                            <td class="text-center"><button type="button" ng-click="edit(item.Acronym)" class="btn btn-sm btn-primary">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
                <pagination ng-show="hasResults == true" ng-change="changePagination()" total-items="clients.length" ng-model="currentPage" items-per-page="5" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

            </div>

        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<footer>
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-primary" ui-sref="home.addClient">Criar</a>
            <button type="button" class="btn btn-primary" back>Voltar</button>
        </div>
        <div class="col-sm-8">
        </div>
    </div>
</footer>
